/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    box-sizing: border-box;
}

:root {
    --color-pink: #FB3B64;
    --color-blue: #08A6E4;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-shadow-black: #00000029;
    --color-shadow-blue: #07ACE629;
    --color-light-gray: #707070;
    --color-gray: #A5A5A5;
    --color-gray-bacground: #F7F7F7;
    --color-gray-border: #E8E9ED;
    --font-Open_Sans: 'Open Sans', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --color-used: var(--color-blue);
}

html {
    font-family: var(--font-Open_Sans);
    color: var(--color-black);
    font-size: 10px;
}

.container {
    margin: 0 auto;
    width: 1352px;
}


/* style dla header */
.header .container {
    display: flex;
    justify-content: space-between;
}

.header {
    box-shadow: 0 3px 6px var(--color-shadow-black);
}

.header__nav {
    flex-basis: 40%;
}

.header__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.header_item {
    height: 100%;

}

.header_link {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link--is-open:hover {
    color: var(--color-black);
    border-bottom: 2px solid var(--color-blue);
}


.link {
    text-decoration: none;
    font-family: var(--font-Open_Sans);
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-gray);
    padding: 0 3px;
}

.logo {
    padding: 16px 0;
    color: var(--color-blue);
    font-family: var(--font-Raleway);
    font-weight: 300;
    font-size: 3.2rem;
}

/* style dla komponentów na stronie */

.title {
    font-family: var(--font-Raleway);
    font-weight: 400;
    font-size: 4.9rem;
    text-align: center;
}

.text {
    font-size: 1.6rem;
    text-align: center;
}

.btn {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
    width: 440px;
    height: 67px;
    line-height: 67px;
    border-radius: 50px;
    background-color: var(--color-used);
    text-decoration: none;
    text-align: center;
}

.circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

/* style dla sekcji otwierającej */
.sectionOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sectionOpen__btn--primary {
    box-shadow: 5px 10px 14px var(--color-shadow-blue);
}

.sectionOpen__title {
    margin: 130px 0 20px 0;
}

.sectionOpen__text {
    margin-bottom: 40px;
}

.sectionOpen__image {
    display: block;
    width: 100%;
}

/* style dla sekcji statystyk */

.wrap {
    display: flex;
    justify-content: space-evenly;
}

.wrap--secendary {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 125px
}

.wrap--person {
    --color-used: var(--color-pink);
}

.wrap--eye {
    --color-used: var(--color-blue);
}

.wrap--catalog {
    --color-used: var(--color-green);
}


.statistics__title {
    margin: 100px 0;
}


.statistics__number {
    margin-top: 15px;
}

.statistics__title--size {
    font-size: 3.6rem;
}

.statistics__text {
    margin: 20px 0 120px 0;
}

.statistics__circle {
    position: relative;
}

.statistics__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
}

.circle--color {
    background-color: var(--color-used);
}


.statistics__number--textAppearance {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.statistics__text--size {
    font-size: 1.7rem;
}

.statistics__text--color {
    color: var(--color-gray);
}

/* style dla sekcji benefity*/
.benefits .container {
    display: flex;
    flex-direction: column;
    width: 1125px;
}

.benefits__single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    height: 370px;
}

.benefits__description {
    align-self: stretch;
    padding: 0 35px;
    width: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.benefits__description--size {
    width: 623px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
}


.benefits__box {
    align-self: stretch;
    width: 440px;
    background-color: var(--color-benefits-single);
    position: relative;
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
}

.benefits__text {
    margin-top: 30px;
    text-align: left;
}

.benefits__box .benefits__image {
    width: 295px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.benefits__text:after {
    content: "";
    display: block;
    width: 327px;
    height: 4px;
    background-color: var(--color-benefits-single);
    margin-top: 50px;
}

.benefits__square,
.benefits__cirkle {
    position: relative;
}

.benefits__square::after {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    rotate: 45deg;
    background-color: var(--color-benefits-single);
    width: 180px;
    height: 180px;
    border-radius: 41px;
}

.benefits__cirkle::after {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: -27px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--color-benefits-single);


}


.benefits__single--notebook {
    --color-benefits-single: var(--color-pink);
    padding-right: 117px;
}

.benefits__single--pfone {
    --color-benefits-single: var(--color-blue);
    padding-left: 70px;
}

.benefits__single--trumpet {
    --color-benefits-single: var(--color-green);
}

.benefits--appearance {
    background-color: var(--color-gray-bacground);
    padding: 105px 0;

}

.benefits__single--apearance {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-border);
    border-radius: 5px;
}

.benefits__single--row-revers {
    flex-direction: row-reverse;
}


.benefits__image {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.benefits__title--size {
    font-size: 3.6rem;
    text-align: left;
    width: 75%;
}

/* style dla sekcji cennik*/

.pricing {
    padding: 100px 0;
    --color-used: var(--color-pink);
}

.container__pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pricing__title {
    flex-basis: 100%;
    margin-bottom: 50px;

}

.pricing__singe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 372px;
    height: 461px;
    padding: 34px 0 80px;
    position: relative;
}

.pricing__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}


.pricing__item::before {
    content: url("../assets/Ckechmark-1.svg");
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;

}

.pricing__item--icon::before {
    content: url("../assets/Close.svg");
}

.pricing__singe--basic .pricing__price,
.pricing__text {
    flex-grow: 1;
}

.pricing_btn {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    line-height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
}

.pricing__singe--professional {
    --color-used: var(--color-blue);
    width: 405px;
    height: 500px;

}

.pricing__singe--premium {
    --color-used: var(--color-green);
}

.pricing__item--appearance {
    font-weight: 400;
    font-size: 1.4rem;
}

.pricing__text--appearance {
    font-family: var(--font-Raleway);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;

}

.pricing__price--appearance {
    font-family: var(--font-Open_Sans);
    font-weight: 300;
    font-size: 4.6rem;
    color: var(--color-used);
    line-height: 2;
    text-align: center;
}

.pricing__subtitle--appearance {
    font-family: var(--font-Raleway);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.pricing__singe--appearance {
    border: 1px solid var(--color-used);
    border-radius: 18px;

}

/* wyróżniony element sekcji pricing */
.pricing__singe--professional {
    box-shadow: 5px 10px 27px var(--color-shadow-blue);
}

.pricing__singe--professional .pricing__subtitle--appearance {
    font-size: 2.1rem
}

/* style dla sekcji kontakt */

.contact {
    padding: 80px 180px 60px;
    display: flex;

}

.contact_column {
    width: 50%;

}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.contact__input {
    display: block;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gray-border);
    margin-bottom: 30px;
}

.contact__icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.conatct__title {
    text-align: left;
    line-height: 5.7rem;
    margin-bottom: 22px;
}

.contact_text {
    text-align: left;
    margin-bottom: 42px;
}

.contact__item {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 600px;
    margin-right: 20px;
}

.contact_btn {
    /* display: block; */
    width: 226px;
    height: 57px;
    line-height: 57px;
    border: none;
    box-shadow: 5px 10px 14px var(--color-shadow-blue);
    align-self: flex-end;
}

.contact__label {
    font-size: 1.1rem;
    color: var(--color-used);
    line-height: 15px;
    letter-spacing: 0.328rem;
}

/* stylowanie niestandardowe checnboxa */
.checkbox__input {
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox {
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--color-light-gray);
    margin-bottom: 20px;
}

.checkbox__span {
    height: 24px;
    flex-basis: 24px;
    width: 24px;
    flex-shrink: 0;
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 10px;
}

.checkbox__input:checked+.checkbox__span {
    background-image: url(../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
}