@use "sass:list";

.benefits {
    background-color: $color-bacground-section;
    padding: 4rem 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 90vw;
        padding: 0;

        @include media(large) {
            width: 1125px;
        }
    }

    &__single {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        background-color: $color-background-elements;
        border: 0.1rem solid $color-border-gray;
        border-radius: 0.5rem;
        position: relative;

        @include media(medium) {
            flex-direction: row;
            justify-content: space-between;

            &--trumpet {
                border: none;
                background-color: transparent;
                gap: 5rem
            }
        }

        &--notebook {
            @include media(medium) {
                padding-right: 11.7rem;
            }
        }

        &--pfone {
            @include media(medium) {
                padding-left: 7rem;
            }
        }
    }

    &__square {
        width: 192px;
        margin-top: 3rem;
        position: relative;

        @include media(medium) {
            width: 386px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -2rem;
            right: 0;
            rotate: 45deg;
            background-color: list.nth($color-elements-list, 2);
            width: 10rem;
            height: 10rem;
            border-radius: 41px;

            @include media(medium) {
                width: 18rem;
                height: 18rem;
                top: -40px;
            }

        }
    }

    &__cirkle {
        width: 192px;
        margin-top: 3rem;
        position: relative;

        @include media(medium) {
            width: 42rem;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -9px;
            left: -16px;

            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            background-color: list.nth($color-elements-list, 1);

            @include media(large) {
                width: 32rem;
                height: 32rem;
                left: -20px;
                top: -12px;
            }
        }

        @include media(medium) {
            order: -1;
        }
    }

    &__image {
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }


    &__description {
        gap: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 0.5rem;
        padding: 2.5rem 2rem;

        @include media(medium) {
            align-self: stretch;
            padding: 0 3.5rem;
            width: 56.5rem;
        }

        &--size {
            @include media(medium) {
                border-radius: 0.5rem;
                width: 62.3rem;
                background-color: $color-background-elements;
                border: 0.1rem solid $color-border-gray;

            }
        }
    }

    &__text {
        margin-top: 2rem;
        text-align: left;

        @include media(medium) {
            margin-top: 3rem;
        }

        &:after {
            @include media(medium) {
                content: "";
                display: block;
                width: 32.7rem;
                height: 4px;
                background-color: list.nth($color-elements-list, 1);
                margin-top: 5rem;
                margin-bottom: 5rem;

                .benefits__single--notebook & {
                    background-color: list.nth($color-elements-list, 2);
                }

                .benefits__description--size & {
                    background-color: list.nth($color-elements-list, 3);
                }
            }
        }
    }


    &__title {
        font-size: 3rem;
        text-align: left;

        // width: 75%;
        @include media(medium) {
            padding-top: 8rem;
            font-size: 3.6rem;
            width: 75%;
        }
    }

    &__box {
        order: -1;
        background-color: list.nth($color-elements-list, 3);
        position: relative;
        padding-top: 5rem;
        align-self: stretch;

        @include media(medium) {
            order: 1;

            padding-top: 6rem;
        }

    }



}