.opening {
    &__container {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    &__title {
        padding: 17rem 0 2.8rem 0;
        text-align: center;

    }

    &__text {
        padding: 0 2rem 2.8rem;
        text-align: center;
        line-height: 2.2rem;
    }

    .btn--secendary {
        box-shadow: 5px 10px 14px $color-shadow-blue;
        margin-bottom: 5.1rem;
        align-self: stretch;

        @include media(small) {
            align-self: center;
            padding-left: 15rem;
            padding-right: 15rem;
        }
    }

    &__image {
        display: block;
        width: 230%;

        height: auto;

        @include media(small) {
            width: 150%;

        }

        @include media(medium) {
            width: 100%;
            transform: none;
        }
    }


}